
*.py linguist-language=Python


*.md linguist-documentation
*.spec linguist-documentation
*.tex linguist-documentation
*.toc linguist-documentation
*.html linguist-documentation


build/** linguist-generated
dist/** linguist-generated
__pycache__/** linguist-generated
*.pyc linguist-generated
*.pkg linguist-generated
*.zip linguist-generated
*.exe linguist-generated